@{
    ViewBag.Title = "Ciclo";
    var perfil = Request.Cookies["UsuarioPerfil"].Value;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index","AgendaCliente")">Agenda</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="panel panel-danger">
                        <div class="panel-heading text-center">
                            <h2><i class="fa fa-exclamation-triangle"></i> Erro ao aplicar Ciclo! <i class="fa fa-exclamation-triangle"></i></h2>
                        </div>
                        <div class="text-center">
                            <div class="inmodal">
                                <i class="fa fa-times modal-icon"></i>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <font size="4">
                                        Não foi possível aplicar o ciclo. O dia selecionada conflita com o último ciclo aplicado.<br>
                                        O Cilo <b>NÃO DEVE</b> conflitar com o Ciclo a ser aplicado.<br>
                                        Retorne a página anterior e selecione o dia corretamente para aplicar o ciclo.
                                    </font>
                                    <br>
                                    <font size="3">
                                        Exemplo: Ultimo Ciclo foi do dia 01/10 á 30/10. O próximo Ciclo <b>DEVE</b> ser maior que 30/10.
                                    </font>
                                </p>
                            </div>
                            <div class="panel-footer">
                                <a href="/Ciclo/Index"><button type="button" class="btn btn-w-m btn-default" data-toggle="modal" data-target="#myModal2"><i class="fa fa-arrow-left"></i> VOLTAR</button></a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
