@{
    Layout = null;
}

@model GrupoJOS_MVC5.Models.Login

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Grupo Redzi | Painel Adiministrativo</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Erro Interno do Servidor</h3>

        <div class="error-desc">
            A RedeHost não encontrou a quitação das ultimas 1 faturas, devido a isso seu serviço foi paralizado.<br>
            <br>
            Por gentileza entre em <a href="https://www.redehost.com.br/">contato</a> conosco.<br>
            <br>
            Pedimos desculpas pelo inconveniente.
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>


