<div class="footer">
    <div class="pull-right" id="nao-imprime">
        Alex Silva - Desenvolvedor
    </div>
    <div>
        <strong>Copyright</strong> GrupoJOS &copy; 2018 - 2020
    </div>
</div>
